/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

h1, h2, h3 {
  color: #333;
}

.home, .register, .login, .dashboard, .quiz, .quizResult, .careerSuggestions {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: auto;
  text-align: center;
  background-color: #f6f3ef
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
}

